* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selected-poster img{
    height: 300px;
    padding: 5%;
}

.movie-holder:hover{
    background-color: lightblue;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.moviedb-attribution {
    display:flex;
    justify-content: center;
}

.moviedb-attribution img{
    height: 15px;
}