* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #070707;
  font-weight: bold;
}

.selected-poster img {
  height: 30rem;
  padding: 5%;
}

.heroimg {
  background-image: url("../images/hero-bg3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

.movie-holder:hover {
  background-color: #90e0ef;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.moviedb-attribution {
  display: flex;
  justify-content: center;
}

.moviedb-attribution img {
  height: 15px;
}

.fixed-image {
  width: 550px;
  height: auto;
}

.addselect {
  font-size: 30px;
  border-top-width: thick;
  border-top: solid;
  border-color: #4b3c33;
  text-align: center;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  
}

.body {
background-color: #f5ecec;
}

.card-format {
  text-align: center;
  font-size: large;
  border-style: solid;
  border-color: #f5ecec;
}


