* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selected-poster img{
    height: 30rem;
    padding: 5%;
}


.heroimg {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
}


.movie-holder:hover{
    background-color: lightblue;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: flex-end;
}

.moviedb-attribution {
    display:flex;
    justify-content: center;
}

.moviedb-attribution img{
    height: 15px;
}
/* .body {
    padding: 0px;
    margin: 0px;
}

.heroimg {
    background-color: #0096c7;

}

.hero-body {
    background-color: #0096c7;
    padding: 1px;
} */

